{% extends "reg_base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <style>
        /* CSS for the reset password form */
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #f7f7f7;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            line-height: 20px ;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            font-size: 40px;
        }

        p {
            margin-bottom: 10px;
            color: #666;
            line-height: 20px;
        }

        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <h1>Forgotten your password?</h1>
    </br>
    <p>Enter your e-mail address to obtain a new password.</p>
    </br>    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail"></p>
    </form>
{% endblock %}
